<a href="https://colab.research.google.com/github/Rohithtechis/Anime_recommendation/blob/main/anime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
anime = pd.read_csv('/content/anime.csv')
rating = pd.read_csv('/content/rating.csv')

In [5]:
anime.head()

   anime_id                              name  ... rating members
0     32281                    Kimi no Na wa.  ...   9.37  200630
1      5114  Fullmetal Alchemist: Brotherhood  ...   9.26  793665
2     28977                          Gintama°  ...   9.25  114262
3      9253                       Steins;Gate  ...   9.17  673572
4      9969                     Gintama&#039;  ...   9.16  151266

[5 rows x 7 columns]

In [6]:
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [3]:
anime.shape

(12294, 7)

In [4]:
rating.shape

(7813737, 3)

In [7]:
anime.isna().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [8]:
anime.fillna({'rating':0},inplace=True)

In [14]:
rating.isna().sum()

user_id     0
anime_id    0
rating      0
dtype: int64

In [13]:
print('Anime info', anime.info())
print('*******')
print('Rating info', rating.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12294 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB
None
*******
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB
None

In [15]:
anime=anime[~np.isnan(anime["rating"])]

# filling mode value for genre and type
anime['genre'] = anime['genre'].fillna(
anime['genre'].dropna().mode().values[0])

anime['type'] = anime['type'].fillna(
anime['type'].dropna().mode().values[0])

#checking if all null values are filled
anime.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [17]:
rating['rating'] = rating['rating'].apply(lambda x: np.nan if x==-1 else x)
rating.head()

   user_id  anime_id  rating
0        1        20     NaN
1        1        24     NaN
2        1        79     NaN
3        1       226     NaN
4        1       241     NaN

In [19]:
#step 1
anime = anime[anime['type']=='TV']

#step 2
rated_anime = rating.merge(anime, left_on = 'anime_id', right_on = 'anime_id', suffixes= ['_user', ''])

#step 3
rated_anime =rated_anime[['user_id', 'name', 'rating']]

#step 4
rated_anime_7500= rated_anime[rated_anime.user_id <= 7500]
rated_anime_7500.head()

   user_id    name  rating
0        1  Naruto    7.81
1        3  Naruto    7.81
2        5  Naruto    7.81
3        6  Naruto    7.81
4       10  Naruto    7.81

In [20]:
pivot = rated_anime_7500.pivot_table(index=['user_id'], columns=['name'], values='rating')
pivot.head()

name     .hack//Roots  .hack//Sign  ...  xxxHOLiC  xxxHOLiC Kei
user_id                             ...
1                 NaN          NaN  ...       NaN           NaN
2                 NaN          NaN  ...       NaN           NaN
3                 NaN          NaN  ...       NaN           NaN
4                 NaN          NaN  ...       NaN           NaN
5                 NaN          NaN  ...      8.11           NaN

[5 rows x 2734 columns]

In [22]:
import scipy as sp
pivot_n = pivot.apply(lambda x: (x-np.mean(x))/(np.max(x)-np.min(x)), axis=1)

pivot_n.fillna(0, inplace=True)

pivot_n = pivot_n.T

pivot_n = pivot_n.loc[:, (pivot_n != 0).any(axis=0)]

piv_sparse = sp.sparse.csr_matrix(pivot_n.values)

In [24]:
from sklearn.metrics.pairwise import cosine_similarity
anime_similarity = cosine_similarity(piv_sparse)

ani_sim_df = pd.DataFrame(anime_similarity, index = pivot_n.index, columns = pivot_n.index)

In [25]:
ani_sim_df.head()

name                               .hack//Roots  ...  xxxHOLiC Kei
name                                             ...
.hack//Roots                           1.000000  ...     -0.112823
.hack//Sign                            0.464082  ...     -0.117723
.hack//Tasogare no Udewa Densetsu      0.445687  ...     -0.106539
009-1                                  0.025392  ...     -0.030031
07-Ghost                               0.069076  ...     -0.108155

[5 rows x 2734 columns]

In [26]:
def anime_recommendation(ani_name):
    number = 1
    print('Recommended because you watched {}:\n'.format(ani_name))
    for anime in ani_sim_df.sort_values(by = ani_name, ascending = False).index[1:6]:
        print(f'#{number}: {anime}, {round(ani_sim_df[anime][ani_name]*100,2)}% match')
        number +=1

In [32]:
anime_recommendation('Dragon Ball')

Recommended because you watched Dragon Ball:

#1: Dragon Ball Z, 79.32% match
#2: Fullmetal Alchemist, 39.96% match
#3: Death Note, 38.22% match
#4: Digimon Adventure, 36.12% match
#5: Yuu☆Yuu☆Hakusho, 34.88% match